@page "/admin/results"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization;

<div class="text-center">
    <h3 class="m-2">Match Results</h3>
    <select class="form-control mb-3" @onchange="OnMatchSelectAsync">
        <option value="f" selected>Select a match:</option>
        @foreach (var match in this.matches)
        {
            <option value="@match.Id">@this.GetMatchText(match.HomeTeam, match.AwayTeam)</option>
        }
    </select>

    <div class="d-flex flex-wrap justify-content-center"> 
        @if (this.setInformation.Count() == 0)
        {
            <h3>This match has not been associated with a bracket yet.</h3>
        }

        @foreach (var game in this.setInformation)
        {
            <div class="card m-2" style="width:100%;">
                <div class="card-header">
                    <h4>@string.Format("Game {0} on {1} {2}", (this.setInformation.FindIndex(x => x == game) + 1), game.Mode.ModeName, game.Map.MapName)</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row justify-content-lg-between">
                            <div class="d-flex flex-row">
                                <h5 class="mr-3">@this.selectedMatch.HomeTeam</h5>
                                <input type="number" min="0" max="100" class="form-control" @bind-value="game.HomeTeamScore" />
                            </div>
                            <div class="d-flex flex-row">
                                <input type="number" min="0" max="100" class="form-control" @bind-value="game.AwayTeamScore" />
                                <h5 class="ml-3">@this.selectedMatch.AwayTeam</h5>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-lg-between">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row m-2">
                                    <select class="form-control mr-2" @bind="game.HomePlayer1.PlayerId">
                                        <option value="0" selected>No Player</option>
                                        @foreach (var player in this.homeTeamPlayers)
                                        {
                                            <option value="@player.Id">@player.InGameName</option>
                                        }
                                    </select>
                                    <select class="form-control" @bind="game.HomePlayer1.WeaponId">
                                        <option value="0" selected>No Weapon</option>
                                        @foreach (var weapon in this.allWeapons)
                                        {
                                            <option value="@weapon.Id">@weapon.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="d-flex flex-row m-2">
                                    <select class="form-control mr-2" @bind="game.HomePlayer2.PlayerId">
                                        <option value="0" selected>No Player</option>
                                        @foreach (var player in this.homeTeamPlayers)
                                        {
                                            <option value="@player.Id">@player.InGameName</option>
                                        }
                                    </select>
                                    <select class="form-control" @bind="game.HomePlayer2.WeaponId">
                                        <option value="0" selected>No Weapon</option>
                                        @foreach (var weapon in this.allWeapons)
                                        {
                                            <option value="@weapon.Id">@weapon.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="d-flex flex-row m-2">
                                    <select class="form-control mr-2" @bind="game.HomePlayer3.PlayerId">
                                        <option value="0" selected>No Player</option>
                                        @foreach (var player in this.homeTeamPlayers)
                                        {
                                            <option value="@player.Id">@player.InGameName</option>
                                        }
                                    </select>
                                    <select class="form-control" @bind="game.HomePlayer3.WeaponId">
                                        <option value="0" selected>No Weapon</option>
                                        @foreach (var weapon in this.allWeapons)
                                        {
                                            <option value="@weapon.Id">@weapon.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="d-flex flex-row m-2">
                                    <select class="form-control mr-2" @bind="game.HomePlayer4.PlayerId">
                                        <option value="0" selected>No Player</option>
                                        @foreach (var player in this.homeTeamPlayers)
                                        {
                                            <option value="@player.Id">@player.InGameName</option>
                                        }
                                    </select>
                                    <select class="form-control" @bind="game.HomePlayer4.WeaponId">
                                        <option value="0" selected>No Weapon</option>
                                        @foreach (var weapon in this.allWeapons)
                                        {
                                            <option value="@weapon.Id">@weapon.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <img src="@game.Map.PicturePath" style="height:200px;width:355px;" />
                                <img src="@game.Mode.PicturePath" style="height:64px;width:64px;" />
                            </div>
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row m-2">
                                    <select class="form-control mr-2" @bind="game.AwayPlayer1.WeaponId">
                                        <option value="0" selected>No Weapon</option>
                                        @foreach (var weapon in this.allWeapons)
                                        {
                                            <option value="@weapon.Id">@weapon.Name</option>
                                        }
                                    </select>
                                    <select class="form-control" @bind="game.AwayPlayer1.PlayerId">
                                        <option value="0" selected>No Player</option>
                                        @foreach (var player in this.awayTeamPlayers)
                                        {
                                            <option value="@player.Id">@player.InGameName</option>
                                        }
                                    </select>
                                </div>
                                <div class="d-flex flex-row m-2">
                                    <select class="form-control mr-2" @bind="game.AwayPlayer2.WeaponId">
                                        <option value="0" selected>No Weapon</option>
                                        @foreach (var weapon in this.allWeapons)
                                        {
                                            <option value="@weapon.Id">@weapon.Name</option>
                                        }
                                    </select>
                                    <select class="form-control" @bind="game.AwayPlayer2.PlayerId">
                                        <option value="0" selected>No Player</option>
                                        @foreach (var player in this.awayTeamPlayers)
                                        {
                                            <option value="@player.Id">@player.InGameName</option>
                                        }
                                    </select>
                                </div>
                                <div class="d-flex flex-row m-2">
                                    <select class="form-control mr-2" @bind="game.AwayPlayer3.WeaponId">
                                        <option value="0" selected>No Weapon</option>
                                        @foreach (var weapon in this.allWeapons)
                                        {
                                            <option value="@weapon.Id">@weapon.Name</option>
                                        }
                                    </select>
                                    <select class="form-control" @bind="game.AwayPlayer3.PlayerId">
                                        <option value="0" selected>No Player</option>
                                        @foreach (var player in this.awayTeamPlayers)
                                        {
                                            <option value="@player.Id">@player.InGameName</option>
                                        }
                                    </select>
                                </div>
                                <div class="d-flex flex-row m-2">
                                    <select class="form-control mr-2" @bind="game.AwayPlayer4.WeaponId">
                                        <option value="0" selected>No Weapon</option>
                                        @foreach (var weapon in this.allWeapons)
                                        {
                                            <option value="@weapon.Id">@weapon.Name</option>
                                        }
                                    </select>
                                    <select class="form-control" @bind="game.AwayPlayer4.PlayerId">
                                        <option value="0" selected>No Player</option>
                                        @foreach (var player in this.awayTeamPlayers)
                                        {
                                            <option value="@player.Id">@player.InGameName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" @onclick="() => SaveGameInformationAsync(game)">Save</button>
                    <button type="button" class="btn btn-danger @((game.GameId <= 0)? "disabled" : "")" @onclick="() => DeleteGameInformationAsync(game.GameId)">Delete</button>
                </div>
            </div>
        }
    </div>
</div>
