@page "/admin/stats"

<div class="text-center">
    <h3>Stats</h3>

    <div class="d-flex justify-content-end m-2">
        <button type="button" class="btn btn-primary" @onclick="OpenAddStats">
            <span class="oi oi-plus"></span> Add Stats
        </button>
        <button class="btn btn-primary ml-2 mr-2 @((this.selectedStatsId > 0) ? string.Empty : "disabled")" @onclick="(() => { if (this.selectedStatsId > 0) OpenEditStats(); })">
            <span class="oi oi-pencil"></span> Edit Stats
        </button>
        <button class="btn btn-primary @((this.selectedStatsId > 0) ? string.Empty : "disabled")" @onclick="(() => { if (this.selectedStatsId > 0) OpenDeleteStats(); })">
            <span class="oi oi-trash"></span> Delete Stats
        </button>
    </div>

    <div class="d-flex justify-content-center">
        <table class="table table-bordered table-hover">
            <caption>List of players</caption>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Alias</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stat in this.allStats.OrderBy(s => s.Alias))
                {
                    <tr class="@((this.selectedStatsId == stat.Id) ? "table-secondary" : string.Empty)" @onclick="(() => { if (this.selectedStatsId == stat.Id) { OpenEditStats(); } else { this.selectedStatsId = stat.Id; } })">
                        <td scope="row">@stat.Id</td>
                        <td>@stat.Alias</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<Modal @ref="addModal">
    <Title>Add</Title>
    <Body>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Alias</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" @bind-value="this.model.Alias" placeholder="Statistic Name" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Sql</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" rows="50" @bind="this.model.Sql" placeholder="Sql Query"></textarea>
                </div>
            </div>
        </form>
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary" @onclick="AddStats">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="(() => this.addModal.Close())">Cancel</button>
    </Footer>
</Modal>

<Modal @ref="editModal">
    <Title>Edit</Title>
    <Body>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" @bind-value="this.model.Id" readonly />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Alias</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" @bind-value="this.model.Alias" placeholder="Statistic Name" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Sql</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" rows="50" @bind="this.model.Sql" placeholder="Sql Query"></textarea>
                </div>
            </div>
        </form>
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary" @onclick="EditStats">Save Changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="(() => this.editModal.Close())">Cancel</button>
    </Footer>
</Modal>

<Modal @ref="deleteModal">
    <Title>Delete</Title>
    <Body>
        <span><em>@string.Format("Are you sure you want to delete '{0}'?", this.model.Alias)</em></span>
    </Body>
    <Footer>
        <button type="button" class="btn btn-danger" @onclick="DeleteStats">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="(() => this.deleteModal.Close())">Cancel</button>
    </Footer>
</Modal>