@page "/admin/matches"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization;

<div class="text-center">
    <h3>Matches</h3>

    <div class="d-flex justify-content-end m-2">
        <button type="button" class="btn btn-primary" @onclick="OpenAddMatch">
            <span class="oi oi-plus"></span> Add Match
        </button>
        <button class="btn btn-primary ml-2 mr-2 @((this.selectedMatchId > 0) ? string.Empty : "disabled")" @onclick="(() => { if (this.selectedMatchId > 0) OpenEditMatch(); })">
            <span class="oi oi-pencil"></span> Edit Match
        </button>
        <button class="btn btn-primary @((this.selectedMatchId > 0) ? string.Empty : "disabled")" @onclick="(() => { if (this.selectedMatchId > 0) OpenDeleteMatch(); })">
            <span class="oi oi-trash"></span> Delete Match
        </button>
    </div>

    <div class="d-flex justify-content-center">
        <table class="table table-bordered table-hover">
            <caption>List of matches</caption>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Home Team</th>
                    <th scope="col">Home Team Score</th>
                    <th scope="col">Away Team</th>
                    <th scope="col">Away Team Score</th>
                    <th scope="col">Caster</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var match in this.allMatches.OrderBy(m => m.MatchDate))
                {
                    <tr class="@((this.selectedMatchId == match.Id) ? "table-secondary" : string.Empty)" @onclick="(() => { if (this.selectedMatchId == match.Id) { OpenEditMatch(); } else { this.selectedMatchId = match.Id; } })">
                        <td scope="row">@match.Id</td>
                        <td>@this.allTeams.FirstOrDefault(t => t.Id == match.HomeTeamId)?.TeamName</td>
                        <td>@match.HomeTeamScore</td>
                        <td>@this.allTeams.FirstOrDefault(t => t.Id == match.AwayTeamId)?.TeamName</td>
                        <td>@match.AwayTeamScore</td>
                        <td>@this.allCasters.FirstOrDefault(c => c.Id == match.CasterProfileId)?.CasterName</td>
                        <td>@match.MatchDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<Modal @ref="addModal">
    <Title>Add</Title>
    <Body>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Home Team</label>
                <div class="col-sm-10">
                    <select class="form-control" @bind="this.model.HomeTeamId">
                        @foreach (var team in this.allTeams.OrderBy(t => t.TeamName))
                        {
                            <option value="@team.Id">@team.TeamName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Home Team Score</label>
                <div class="col-sm-10">
                    <input type="number" min="0" class="form-control" @bind-value="this.model.HomeTeamScore" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Away Team</label>
                <div class="col-sm-10">
                    <select class="form-control" @bind="this.model.AwayTeamId">
                        @foreach (var team in this.allTeams.OrderBy(t => t.TeamName))
                        {
                            <option value="@team.Id">@team.TeamName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Away Team Score</label>
                <div class="col-sm-10">
                    <input type="number" min="0" class="form-control" @bind-value="this.model.AwayTeamScore" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Winner</label>
                <div class="col-sm-10">
                    <select class="form-control" @bind="this.model.Winner">
                        <option value="none">None</option>
                        <option value="home">Home</option>
                        <option value="away">Away</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Main Caster</label>
                <div class="col-sm-10">
                    <select class="form-control" @bind="this.model.CasterProfileId">
                        <option value="-1" selected>None</option>
                        @foreach (var caster in this.allCasters.OrderBy(c => c.CasterName))
                        {
                            <option value="@caster.Id">@caster.CasterName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Co Caster</label>
                <div class="col-sm-10">
                    <select class="form-control" @bind="this.model.SecondaryCasterProfileId">
                        <option value="-1" selected>None</option>
                        @foreach (var caster in this.allCasters.OrderBy(c => c.CasterName))
                        {
                            <option value="@caster.Id">@caster.CasterName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Vod Link</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" @bind-value="this.model.MatchVodLink" placeholder="Link to the vod"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Match Date</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control input-text" @bind-value="this.model.DateComponent" />
                </div>
                <div class="col-sm-4">
                    <input type="time" class="form-control input-text" @bind-value="this.model.TimeComponent" />                  
                </div>
            </div>
        </form>
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary" @onclick="AddMatch">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="(() => this.addModal.Close())">Cancel</button>
    </Footer>
</Modal>

<Modal @ref="editModal">
    <Title>Edit</Title>
    <Body>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" @bind-value="this.model.Id" readonly />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Home Team</label>
                <div class="col-sm-10">
                    <select class="form-control" @bind="this.model.HomeTeamId">
                        @foreach (var team in this.allTeams.OrderBy(t => t.TeamName))
                        {
                            <option value="@team.Id">@team.TeamName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Home Team Score</label>
                <div class="col-sm-10">
                    <input type="number" min="0" class="form-control" @bind-value="this.model.HomeTeamScore" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Away Team</label>
                <div class="col-sm-10">
                    <select class="form-control" @bind="this.model.AwayTeamId">
                        @foreach (var team in this.allTeams.OrderBy(t => t.TeamName))
                        {
                            <option value="@team.Id">@team.TeamName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Away Team Score</label>
                <div class="col-sm-10">
                    <input type="number" min="0" class="form-control" @bind-value="this.model.AwayTeamScore" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Winner</label>
                <div class="col-sm-10">
                    <select class="form-control" @bind="this.model.Winner">
                        <option value="none">None</option>
                        <option value="home">Home</option>
                        <option value="away">Away</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Main Caster</label>
                <div class="col-sm-10">
                    <select class="form-control" @bind="this.model.CasterProfileId">
                        <option value="-1">None</option>
                        @foreach (var caster in this.allCasters.OrderBy(c => c.CasterName))
                        {
                            <option value="@caster.Id">@caster.CasterName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Co Caster</label>
                <div class="col-sm-10">
                    <select class="form-control" @bind="this.model.SecondaryCasterProfileId">
                        <option value="-1">None</option>
                        @foreach (var caster in this.allCasters.OrderBy(c => c.CasterName))
                        {
                            <option value="@caster.Id">@caster.CasterName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Vod Link</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" @bind-value="this.model.MatchVodLink" placeholder="Link to the vod"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Match Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control input-text" @bind-value="this.model.MatchDate" />
                    <input type="time" class="form-control input-text" />
                </div>
            </div>
        </form>
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary" @onclick="EditMatch">Save Changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="(() => this.editModal.Close())">Cancel</button>
    </Footer>
</Modal>

<Modal @ref="deleteModal">
    <Title>Delete</Title>
    <Body>
        <span>
            <em>
                @this.DeleteMessage()
            </em>
        </span>
        <h6 class="text-danger">@this.message</h6>
    </Body>
    <Footer>
        <button type="button" class="btn btn-danger" @onclick="DeleteMatch">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="(() => this.deleteModal.Close())">Cancel</button>
    </Footer>
</Modal>
