@page "/casters"

@using SquidLeagueWebsite.UI.Data
@using SquidLeagueWebsite.Models
@using SquidLeagueWebsite.Utilities
@inject CasterService casterService

<div id="title">Casters</div>

@if (casters == null)
{
    <div class="textContent">
        <h3>Loading...</h3>
    </div>
}
else if (casters.Count() == 0)
{
    <div class="">
        <h3>There are no casters to display</h3>
    </div>
}
else
{
    foreach (var casterList in casterSplit)
    {
        <div class="cardContainer">
            <div class="caster">
                @foreach (var caster in casterList)
                {
                    <div class="casterCard">
                        <img class="casterCardImg" src="@caster.ProfilePicturePath">
                        <div class="casterContainer">
                            <h5><b>@caster.CasterName</b></h5>
                            @if (!string.IsNullOrEmpty(caster.Discord))
                            {
                                <p>
                                    <img src="Images/brandLogos/Discord/Discord-Logo-Color.svg" height=40px width=40px>
                                    @caster.Discord
                                </p>
                            }

                            <p>
                                @if (!string.IsNullOrEmpty(caster.Twitter))
                                {
                                    <a href="@caster.Twitter" target="_blank">
                                        <img src="Images/brandLogos/Twitter/Twitter Logos/Twitter_Logo_Blue/Twitter_Logo_Blue.svg" height=40px width=40px>
                                    </a>
                                }

                                @if (!string.IsNullOrEmpty(caster.Twitch))
                                {
                                    <a href="@caster.Twitch" target="_blank">
                                        <img src="Images/brandLogos/twitch.svg" height=30px width=30px>
                                    </a>
                                }

                                @if (!string.IsNullOrEmpty(caster.YouTube))
                                {
                                    <a href="@caster.YouTube" target="_blank">
                                        <img src="Images/brandLogos/Youtube/social/1024px/red/youtube_social_icon_red.png" height=25px>
                                    </a>
                                }
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}

@code {
    private IEnumerable<Caster> casters;

    private List<List<Caster>> casterSplit;

    protected override async Task OnInitializedAsync()
    {
        this.casters = new List<Caster>()
        {
            new Caster() { Id = 1, CasterName = "Conro", Discord = "Conro#0001", Twitter = "https://twitter.com/Conro_UK", ProfilePicturePath = "https://pbs.twimg.com/profile_images/1267438295941820418/OqS0LxB9_400x400.jpg"},
            new Caster() { Id = 2, CasterName = "McFootie", Discord = "McFootie#0001", Twitter = "https://twitter.com/McF00tie", ProfilePicturePath = "https://pbs.twimg.com/profile_images/1247618735021658112/D3w6W7Vd_400x400.jpg" },
            new Caster() { Id = 3, CasterName = "Rachelski", Discord = "Rachelski#0001", Twitter = "https://twitter.com/Rachelskiiiiiii", ProfilePicturePath = "https://pbs.twimg.com/profile_images/1312064057579638784/7ZOpnQZg_400x400.jpg" },
            new Caster() { Id = 4, CasterName = "Geo-Cubed", Discord = "Geo Cubed#4853", Twitter = "https://twitter.com/Geo_Cubed", Twitch = "https://twitch.com/GeoCubed", YouTube = "https://youtube.com/Geosting", ProfilePicturePath = "https://pbs.twimg.com/profile_images/1235141371952009217/u1XMfJsG_400x400.jpg"}
        };

        this.SplitUpList();
        return;

        this.casters = casterService.GetAllCasters();
        this.SplitUpList();
    }

    protected void SplitUpList()
    {
        this.casterSplit = this.casters.SplitList(3);
    }
}
