@page "/players"

@using SquidLeagueWebsite.Models.Entities
@using SquidLeagueWebsite.UI.Data
@inject PlayerService playerService

@*<PageTitle Title="Squid League - Players"></PageTitle>*@

<div id="title">Players</div>
<div class="playerSelectBox">
    <select @onchange="OnPlayerSelect">
        @if (this.selectedPlayer == null)
        {
            <option value="0">Select Player:</option>
        }

        @foreach (var tPlayer in players)
        {
            <option value=@string.Format("{0}", tPlayer.Id)>@string.Format("{0}{1}", tPlayer.InGameName, (string.IsNullOrEmpty(tPlayer.TeamName)) ? string.Empty : " - " + tPlayer.TeamName)</option>
        }
    </select>
</div>

@if (selectedPlayer == null)
{
    <div class="player">
        <div class="playerCard">
            <h3>No Player Selected</h3>
        </div>
    </div>
}
else
{
    <div class="player">
        <div class="playerCard">
            <h1>@selectedPlayer.InGameName</h1>
            <h2>@selectedPlayer.TeamName</h2>
            <h3>Ranks</h3>
            <p>SZ: <b>@selectedPlayer.SzRank</b> RM: <b>@selectedPlayer.RmRank</b></p>
            <p>TC: <b>@selectedPlayer.TcRank</b> CB: <b>@selectedPlayer.CbRank</b></p>
            <h3>Role</h3>
            <p>@selectedPlayer.Role</p>
            <p>
                @if (selectedPlayer.CommonWeapons == null)
                {
                    <h3>Common Weapons</h3>
                    <p>Loading...</p>
                }
                else if (selectedPlayer.CommonWeapons.Count() > 0)
                {
                    <h3>Common Weapons</h3>
                    for (int i = 0; i < 3; ++i)
                    {
                        if (selectedPlayer.CommonWeapons.Count >= (i + 1))
                        {
                            <img src="@selectedPlayer.CommonWeapons.ElementAt(i).PicturePath" height="50px" width="50px"/>
                        }
                    }
                }
            </p>
        </div>
    </div>

    <div id="recent">
        <h2>Recent Games</h2>
    </div>

    @if (matches == null)
    {
        <div class="textContent">
            <h3>Loading...</h3>
        </div>
    }
    else if (matches.Count() == 0)
    {
        <div class="textContent">
            <h3>@string.Format("{0} has not played any matches yet", selectedPlayer.InGameName)</h3>
        </div>
    }
    else
    {
        <div id="matches">
            @foreach (var match in matches)
            {
                <div class="match">
                    <div class="playerCard">
                        <img src="@match.Map.PicturePath" title="@match.Map.MapName" height="90px" width="160px">
                        <img src="@match.Mode.PicturePath" title="@match.Mode.ModeName" height="50px" width="50px">
                        <img src="@match.Weapon.PicturePath" title="@match.Weapon.WeaponName" heght="50px" width="100px">
                        @if (match.IsHomeTeam)
                        {
                            // TODO: Make a helper to create the match score strings.
                            @string.Format("{0} - {1} {2}", match.Game.HomeTeamScore, match.Game.AwayTeamScore, match.AwayTeam.TeamName)
                        }
                        else
                        {
                            @string.Format("{0} - {1} {2}", match.Game.AwayTeamScore, match.Game.HomeTeamScore, match.HomeTeam.TeamName)
                        }
                    </div>
                </div>
            }
        </div>
    }
}

@code {
    private int id;

    public Player selectedPlayer
    {
        get
        {
            return this.players.Where(p => p.Id == this.id).FirstOrDefault();
        }
    }

    private List<Player> players;

    private List<PlayerGame> matches;

    protected override async Task OnInitializedAsync()
    {
        this.id = 0;
        this.players = playerService.GetAllPlayers().ToList();
        var teams = playerService.GetAllTeams();
        foreach (var player in this.players)
        {
            if (player.TeamId != null)
            {
                player.TeamName = teams.FirstOrDefault(t => t.Id == player.TeamId).TeamName;
            }
        }
    }

    protected void OnPlayerSelect(ChangeEventArgs e)
    {
        this.matches = null;
        this.id = int.Parse(e.Value.ToString());
        this.selectedPlayer.CommonWeapons = playerService.GetPlayerWeapons(this.id).ToList();
        this.matches = playerService.GetPlayerMatches(this.id).ToList();
    }
}