@page "/statistics"

@using GeoCubed.SquidLeague4.Website.Models.Enums
@using GeoCubed.SquidLeague4.Website.Common.Helpers

<div class="text-center">
    <h1 class="mb-3 mt-1">Statistics</h1>

    <select class="form-control mb-3" @onchange="OnStatsSelectAsync">
        <option value="-1">Select Statistic:</option>
        @foreach (var statsOpt in this.StatsOptions)
        {
            <option value="@statsOpt.Id">@statsOpt.Alias</option>
        }
    </select>

    <div>
        @if (this.SelectedStats == null)
        {
            <h2>Please select a statistic to view</h2>
        }
        else
        {
            if (this.SelectedStats.Modifier == StatsModifiers.Mode.GetDescription())
            {
                <h2>Game Modes</h2>
                <select class="form-control mb-3" @ref="this.selectModeModifier" @onchange="OnModifierSelectAsync">
                    <option value="-1">All Modes</option>
                    @foreach (var mode in this.statsModifiersVm.Modes)
                    {
                        <option value="@mode.Key">@mode.Value</option>
                    }
                </select>
            }
            else if (this.SelectedStats.Modifier == StatsModifiers.Weapon.GetDescription())
            {
                <h2>Weapons</h2>
                <select class="form-control mb-3" @ref="this.selectWeaponModifier" @onchange="OnModifierSelectAsync">
                    <option value="-1">All Weapons</option>
                    @foreach (var weapon in this.statsModifiersVm.Weapons)
                    {
                        <option value="@weapon.Key">@weapon.Value</option>
                    }
                </select>
            }
            else if (this.SelectedStats.Modifier == StatsModifiers.Player.GetDescription())
            {
                <h2>Players</h2>
                <select class="form-control mb-3" @ref="this.selectPlayerModifier" @onchange="OnModifierSelectAsync">
                    <option value="-1">All Players</option>
                    @foreach (var player in this.statsModifiersVm.Players)
                    {
                        <option value="@player.Key">@player.Value</option>
                    }
                </select>
            }

            @if (this.dataValues.Count == 0)
            {
                <h1 class="m-2">This has no data</h1>
            }
            else
            {
                <h2>@this.tableTitle</h2>
                <div style="margin:auto;max-width:700px;">
                    @if (this.StrongDataType == "double" || this.StrongDataType == "int")
                    {
                        <MediaQuery Media="@Breakpoints.LargeDown">
                            @* Mobile view *@
                            <Matched>
                                <RadzenChart>
                                    <RadzenColumnSeries Data="@dataValues.Take(5)" CategoryProperty="Key" ValueProperty="Value" Title="@seriesTitle">
                                        <TooltipTemplate Context="data">
                                            <div>
                                                <span>@data.Key</span> : <span>@data.Value</span>
                                            </div>
                                        </TooltipTemplate>
                                    </RadzenColumnSeries>
                                    <RadzenLegend Visible="false" />
                                    <RadzenValueAxis Min="0" Max="@(((int)Math.Ceiling(this.dataValues.Max(x => x.Value) / 10.0d)) * 10)" Step="@(((((int)Math.Ceiling(this.dataValues.Max(x => x.Value) / 10.0d)) * 10) < 20)? 10 : 20)">
                                        <RadzenGridLines Visible="true" />
                                    </RadzenValueAxis>
                                    <RadzenCategoryAxis Formatter="@truncateString" />
                                    <RadzenColumnOptions Radius="5" />
                                </RadzenChart>
                            </Matched>
                            @* Website view *@
                            <Unmatched>
                                <RadzenChart>
                                    <RadzenColumnSeries Data="@dataValues" CategoryProperty="Key" ValueProperty="Value" Title="@seriesTitle">
                                        <TooltipTemplate Context="data">
                                            <div>
                                                <span>@data.Key</span> : <span>@data.Value</span>
                                            </div>
                                        </TooltipTemplate>
                                    </RadzenColumnSeries>
                                    <RadzenLegend Visible="false" />
                                    <RadzenValueAxis Min="0" Max="@(((int)Math.Ceiling(this.dataValues.Max(x => x.Value) / 10.0d)) * 10)" Step="10">
                                        <RadzenGridLines Visible="true" />
                                    </RadzenValueAxis>
                                    <RadzenCategoryAxis Formatter="@truncateString" />
                                    <RadzenColumnOptions Radius="5" />
                                </RadzenChart>
                            </Unmatched>
                        </MediaQuery>
                    }
                    else
                    {
                        <h3>Idk what chart to use here</h3>
                    }
                </div>
                <div style="margin:auto;max-width:400px">
                    <h3>Full Data</h3>
                    <ul class="list-group">
                        @for (int i = 0; i < this.fullData.Count; ++i)
                        {
                            <li class="list-group-item">@string.Format("{0}. {1} - {2}", i + 1, this.fullData[i].Key, this.fullData[i].Value)</li>
                        }
                    </ul>
                </div>
            }
        }

        <h3 class="m-2">Disclaimer: A weapon has to be played at least 3 times to be counted in the 'Top Players By Weapon' Statistic</h3>
    </div>
</div>